<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Bitza</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="all"/>
</head>
<body>

<div class="login">
    {% load static %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <p class="error">Неверные имя пользователя и/или пароль</p>
        {% endif %}
        {{ form.username }}
        {{ form.password }}
        <button type="submit" class="btn btn-primary btn-block btn-large">Login.</button>
        <p><a href="{% url 'password_reset' %}">Восстановление пароля</a></p>
    </form>
</div>

</body>
</html>